{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "material-ui": "./src/shim/material-ui"
                }
            }
        ]
    ]
}